@use '/src/app/styles/mixins' as *;
@use '/src/app/styles/functions' as *;

.ourmission {
  padding-block: calcValue(48, 96, 768);
  background-color: var(--color-green-tertiary);
  .wrapper {
  }
  .container {
    display: flex;
    gap: 32px 24px;
    margin-bottom: 96px;

    @include tablets {
      flex-direction: column;
    }
  }
  .item {
  }
  .subtitle {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }
  .title {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
