@use '/src/app/styles/functions' as *;
@use '/src/app/styles/variables' as *;
@use '/src/app/styles/mixins' as *;

.about {
  position: relative;
  margin-top: calcValue($headerHeight, $headerHeight + 96, 767.98);
  .h2 {
    display: flex;
    gap: 24px;
    align-items: center;

    margin-bottom: calcValue(16, 32, 767.98);

    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .inner {
    display: flex;
    gap: 0 24px;
    justify-content: space-between;
    padding-inline-start: calcValue(0, 96, 768, 992);

    @media (max-width: $tablets) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .h3 {
    flex-basis: 624px;
    text-wrap: balance;

    @include tablets {
      margin-bottom: 30px;
      text-align: center;
    }

    @media (max-width: $mobiles) {
      text-align: left;
    }
  }
  .body {
    flex-basis: 496px;
    .h4 {
      margin-bottom: 1rem;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
