.video {
  position: relative;
  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;

    width: 100%;
    height: 50%;

    background-color: var(--color-green-tertiary);
  }

  .body {
    max-height: 448px;
  }
}
