.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 75px;

  background-color: var(--color-currentHeader);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    z-index: 6;
  }
  &::after {
    content: '';

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 75px;

    background-color: var(--color-currentHeader);
  }
}
